.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 29px;
  padding-right: 30px;
}

.about-us__title {
  .style-reset;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  margin-bottom: 28px;
  margin-right: auto;
  text-align: left;
  width: 90%;
  max-width: 370px;
}

.about-us__list {
  .default-list;
  display: flex;
  flex-direction: column;
  min-width: 250px;
  width: 90%;
  max-width: 370px;
  margin-right: auto;
  margin-bottom: 35px;
}

.about-us__item {
  position: relative;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  padding-top: 60px;
  margin-bottom: 21px;
}

.about-us__item--ecology {
  padding-right: 55px;
  &::before {
    position: absolute;
    top: -2px;
    left: -5px;
    display: block;
    content: "";
    width: 60px;
    height: 50px;
    background-image: url("../img/icon-feature-flower.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.about-us__item--scandinavian {
  padding-top: 61px;
  padding-right: 30px;
  &::before {
    position: absolute;
    top: -2px;
    left: -5px;
    display: block;
    content: "";
    width: 60px;
    height: 50px;
    background-image: url("../img/icon-feature-money.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.about-us__item--likes {
  padding-top: 62px;
  padding-right: 45px;
  &::before {
    position: absolute;
    top: 2px;
    left: -5px;
    content: "";
    width: 60px;
    height: 50px;
    background-image: url("../img/icon-feature-heart.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.about-us__item--handmade {
  padding-top: 62px;
  &::before {
    position: absolute;
    top: 4px;
    left: -8px;
    content: "";
    width: 60px;
    height: 50px;
    background-image: url("../img/icon-feature-ball.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.about-us__item--domestic {
  padding-right: 0px;
  padding-top: 63px;
  &::before {
    position: absolute;
    top: -2px;
    left: -7px;
    content: "";
    width: 60px;
    height: 50px;
    background-image: url("../img/icon-feature-rocket.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.about-us__item--pack::before {
  position: absolute;
  top: -2px;
  left: -9px;
  content: "";
  width: 60px;
  height: 50px;
  background-image: url("../img/icon-feature-gift.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

@media (min-width: @tablet-width) {
  .about-us {
    min-width: @tablet-width;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 6.5%;
  }

  .about-us__title {
    min-width: 668px;
    max-width: 700px;
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 37px;
    margin-left: -6px;
    margin-left: auto;
    margin-right: auto;
  }

  .about-us__list {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 668px;
    max-width: 700px;
    margin-bottom: 31px;
    margin-left: auto;
    margin-right: auto;
  }

  .about-us__item {
    width: 50%;
    margin-bottom: 47px;
    font-size: 20px;
    line-height: 24px;
  }
  
  .about-us__item--ecology {
    padding-right: 17%;
    margin-top: 3px;
    order: 0;
  }

  .about-us__item--scandinavian {
    padding-right: 11%;
    order: 2;
  }

  .about-us__item--likes {
    padding-right: 11%;
    margin-top: -4px;
    order: 4;
    &::before {
      top: 5px;
    }
  }

  .about-us__item--handmade {
    padding-right: 11%;
    order: 1;
  }

  .about-us__item--domestic {
    padding-right: 5%;
    margin-top: -3px;
    order: 3;
    &::before {
      top: 1px;
    }
  }

  .about-us__item--pack {
    padding-right: 11%;
    order: 5;
  }
}

@media (min-width: @desktop-width) {
  .about-us {
    min-width: auto;
    width: @desktop-width;
    padding-left: 100px;
    padding-right: 111px;
    padding-top: 56px;
    margin-left: auto;
    margin-right: auto;
  }

  .about-us__title {
    min-width: 668px;
    max-width: 700px;
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 39px;
  }

  .about-us__list {
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: 175px;
  }

  .about-us__item {
    width: 50%;
  }
  
  .about-us__item--scandinavian {
    padding-right: 13%;
  }
  
  .about-us__item--likes {
    padding-right: 16%;
  }
}
