.advertising {
  padding-top: 28px;
}

.advertising__title {
  .style-reset;
  position: relative;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: #000000;
  padding-left: 90px;
  margin-bottom: 28px;
}

.advertising__title::before {
  display: block;
  width: 32px;
  height: 27px;
  content: "";
  position: absolute;
  top: 8px;
  left: 10px;
  background-image: url("../img/icon-video.svg");
}

.advertising__video {
  position: relative;
}

.advertising__text {
  font-size: 13px;
  line-height: 24px;
  padding-left: 33px;
}

.advertising__play {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -37px;
  margin-left: -55px;
}
