.catalog {
  padding: 30px 30px 58px 30px;
  &__items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__item {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 425px;
  }
}

@media (min-width: @tablet-width) {
  .catalog {
    padding: 70px 50px 58px 50px;
    &__item {
      margin-bottom: 51px;
      max-width: 825px;
    }
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    padding: 111px 100px 50px 100px;
    &__items {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      width: 1050px;
      margin-left: auto;
      margin-right: auto;
    }
    &__item {
      margin-bottom: 57px;
      max-width: none;
      width: 315px;
      margin-left: 0px;
      margin-right: 52px;
    }
    &__item:nth-child(3n) {
      margin-right: 0;    }
  }
}
