.contacts {
  min-width: 320px;
  padding-top: 36px;
  padding-bottom: 39px;
}

.contacts__title {
  .style-reset;
  width: 82%;
  font-size: 18px;
  color: #000000;
  margin: 0 auto;
  margin-bottom: 24px;
}

.contacts__characteristics {
  .style-reset;
  width: 83%;
  border-collapse: collapse;
  margin: 0 auto;
  margin-bottom: 37px;
}

.contacts__characteristics-name {
  font: inherit;
  text-align: left;
  width: 30%;
  vertical-align: top;
}

.contacts__characteristics-descript {
  font: inherit;
  text-align: left;
  vertical-align: top;
}

.contacts__characteristics-descript--email {
  border-bottom: 1px solid #62d1ba;
}

.contacts__characteristics-name--adres {
  padding-top: 29px;
}

.contacts__characteristics-descript--adres {
  padding-top: 29px;
}

.contacts__maps {
  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
    background-size: 322px auto;
  }
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 457px;
  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  margin-bottom: 38px;
}

.contacts__button {
  width: 81%;
  max-width: 370px;
  margin: 0 auto;
}

@media (min-width: 330px) {
  .contacts__characteristics-name {
    vertical-align: top;
  }

  .contacts__characteristics br {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .contacts {
    min-width: auto;
    padding-top: 0;
    padding-bottom: 0;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
  }

  .contacts__characteristics br {
    display: block;
  }

  .contacts__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    padding-top: 73px;
    padding-bottom: 57px;
  }

  .contacts__title {
    &::after {
      position: absolute;
      right: 36px;
      top: -12px;
      display: block;
      content: "";
      width: 47px;
      height: 81px;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
    position: relative;
    width: 100%;
    font-size: 43px;
    line-height: 55px;
    text-align: left;
    padding-left: 44px;
    margin-bottom: 47px;
  }

  .contacts__characteristics tbody {
    display: flex;
    flex-direction: row;
  }

  .contacts__characteristics tr {
    width: 50%;
  }
 
  .contacts__characteristics tr:first-child {
    padding-left: 50px; 
  }

  .contacts__characteristics {
    min-width: auto;
    min-height: auto;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 56px;
  }

  .contacts__characteristics-name {
    vertical-align: top;
    text-align: left;
    width: 75px;
    font-size: 17px;
    line-height: 30px;
    padding: 0;
  }

  .contacts__characteristics-descript {
    font-size: 17px;
    line-height: 30px;
  }

  .contacts__button {
    width: 30.5%;
    max-width: 370px;
    margin: 0 0 0 36%;
  }

  .contacts__characteristics-name--adres {
    padding-top: 0;
    padding-left: 8px;
  }

  .contacts__characteristics-descript--adres {
    padding-top: 0;
    padding-left: 10px;
  }

  .contacts__maps {
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
      background-size: 768px auto;
    }
    background-image: url("../img/map-tablet@1x.jpg");
    margin-bottom: 54px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    position: relative;
    width: 1050px;
    padding-top: 69px;
    padding-right: 525px;
    padding-bottom: 57px;
    padding-left: 178px;
    margin-left: auto;
    margin-right: auto;
  }

  .contacts__container {
    display: block;
    width: 350px;
    padding-top: 94px;
    padding-bottom: 0;
  }

  .contacts__title {
    &::after {
      position: absolute;
      left: -107px;
      top: -8px;
      display: block;
      content: "";
      width: 47px;
      height: 81px;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
    position: relative;
    width: 350px;
    font-size: 53px;
    line-height: 57px;
    text-align: left;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 47px;
  }

  .contacts__characteristics tbody {
    display: table;
  }

  .contacts__characteristics tr {
    width: auto;
  }

  .contacts__characteristics {
    min-width: auto;
    width: 350px;
    min-height: 178px;
    margin: 0 auto;
    margin-bottom: 53px;
  }

  .contacts__characteristics-name {
    vertical-align: top;
    text-align: left;
    width: 81px;
    padding-left: 4px;
  }

  .contacts__characteristics-name--adres {
    padding-top: 30px;
  }

  .contacts__characteristics-descript {
    font-size: 17px;
    line-height: 30px;
  }

  .contacts__characteristics-descript--adres {
    padding-top: 29px;
    padding-left: 0;
  }

  .contacts__button {
    width: 230px;
    max-width: 370px;
    margin: 0;
    margin-left: 5px;
  }

  .contacts__maps {
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
      background-size: 525px auto;
    }
    position: absolute;
    right: -7px;
    top: 94px;
    width: 525px;
    height: 457px;
    background-image: url("../img/map-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    margin: 0;
  }
}
