.contacts {
  width: 320px;
  padding-top: 45px;
  padding-bottom: 39px;
}

.contacts__title {
  .style-reset;
  font-size: 18px;
  color: #000000;
  margin-bottom: 41px;
}

.contacts__characteristics {
  .style-reset;
  border-collapse: collapse;
  margin-bottom: 40px;
}

.contacts__characteristics-name {
  font: inherit;
  text-align: left;
  width: 30%;
}
