.offers__list {
  .default-list;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
}

.offers__item a:hover {
  min-height: 108px;
  margin-top: -5px;
}

.offers__item a:active {
  opacity: 0.3;
}

.offers__item a {
  width: 100%;
  min-height: 103px;
  padding-top: 25px;
  padding-left: 29px;
  padding-right: 115px;
  transition: all 0.2s;
  position: relative;
  display: inline-block;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  padding-bottom: 10px;
}

.offers__item--icon-lump a {
  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 24px;
    right: 27px;
    width: 60px;
    height: 62px;
    background-image: url("../img/icon-interior.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
  }
  background-color: #63d1bb;
}

.offers__item--icon-lego a {
  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 20px;
    right: 23px;
    width: 60px;
    height: 60px;
    background-image: url("../img/icon-toy.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
  }
  background-color: #56c3b2;
}

@media (min-width: @tablet-width) {
  .offers {
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 2;
      content: "";
      display: block;
      height: 23px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat;
      background-size: cover;
    }
    position: relative;
    margin-top: -119px;
    padding-right: 50px;
    padding-left: 50px;
  }

  .offers__list {
    z-index: 1;
    min-width: 668px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .offers__item {
    width: 50%;
  }

  .offers__item a {
    &:hover {
      min-height: 124px;
      margin-top: -5px;
    }
    min-height: 132px;
    padding-top: 29px;
    padding-left: 35px;
  }

  .offers__item--icon-lump a {
    &::after {
      top: 31px;
      right: 26px;
    }
    font-size: 20px;
    line-height: 30px;
    padding-right: 25%;
  }

  .offers__item--icon-lego a {
    &::after {
      top: 33px;
      right: 35px;
    }
    font-size: 20px;
    line-height: 30px;
    padding-right: 35%;
  }
}

@media (min-width: @desktop-width) {
  .offers {
    &::after {
      height: 37px;
    }
    margin-left: 0;
    margin-right: 0;
  }

  .offers__list {
    width: 1050px;
    min-width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .offers__list a {
    min-height: 140px;
  }

  .offers__item--icon-lump a {
    padding-right: 292px;
  }

  .offers__item--icon-lego a {
    padding-right: 305px;
  }
}

@media (min-width: 1450px) {
  .offers::after {
    height: 39px;
  }
}

@media (min-width: 1575px) {
  .offers::after {
    height: 43px;
  }
}

@media (min-width: 1830px) {
  .offers::after {
    height: 48px;
  }
}
