.page-header {
  position: relative;
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.page-header__logo {
  .style-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 79px;
  padding-top: 6px;
}

.page-header__logo img {
  width: 86px;
  height: 35px;
}

.page-header__promo {
  display: none;
  .style-reset;
}

@media (min-width: @tablet-width) {
  .page-header {
    width: @tablet-width;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .page-header__logo{
    order: 0;
    text-align: center;
    padding-top: 17px;
    img {
      width: 113px;
      height: 88px;
    }
  }

  .page-header__promo{
    order: 4;
    display: flex;
    width: 300px;
    min-height: 88px;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 15px;
    margin-left: auto;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: @desktop-width;
    padding-left: 100px;
    padding-right: 100px;
  }

  .page-header__logo{
    order: 2;
    justify-content: center;
    text-align: center;
    img {
      width: 149px;
      height: 88px;
    }
  }
}
