.page-title {
  .style-reset;
  min-height: 90px;
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: #010000;
}

@media (min-width: @tablet-width) {
  .page-title {
    min-height: auto;
    font-size: 43px;
    line-height: 50px;
    padding-left: 10px;
  }
}

@media (min-width: @desktop-width) {
  .page-title {
    font-size: 53px;
    line-height: 57px;
  }
}
