.promo-list {
  .default-list;
  display: none;
}

@media (min-width: @desktop-width) {
  .promo-list {
    display: flex;
    align-items: center;
    width: 410px; 
    position: absolute;
    bottom: -88px;
    left: 0;
    z-index: 2;
    &__item {
      display: flex;
      align-items: flex-start;
      min-height: 88px;
    }
    &__item a {
      .style-reset;
      font-size: 15px;
      font-weight: 700;
      line-height: 24px;
      color: #000000;
      transition: opacity 0.2s;
      outline: none;
      padding-top: 19px;
    }
    &__item:hover a {
      opacity: 0.6;
    }
    &__item a:focus {
      opacity: 0.6;
    }
    &__item a:active {
      opacity: 0.3;
    }
    &__item:nth-child(1) {
      width: 185px;
    }
    &__item:nth-child(2) {
      width: 200px;
      padding-left: 33px;
      margin-right: auto;
    }
  }
}