.site-list {
  .default-list;
}

.site-list__item {
  display: flex;
  align-items: flex-start;
  min-height: 79px;
  border-top: 1px solid #ececec;
  padding: 18px 30px 10px 75px;
}

.site-list__item a {
  .style-reset;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  transition: opacity 0.2s;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
}

.site-list__item:hover a {
  opacity: 0.6;
}

.site-list__item a:focus {
  opacity: 0.6;
}

.site-list__item a:active {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .site-list {
    width: 334px;
    display: flex;
  }

  .site-list__item {
    padding: 0;
    width: 167px;
    border: none;
  }

  .site-list__item a {
    font-size: 15px;
    padding-top: 19px;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    width: 410px;
  }

  .site-list__item {
    padding-top: 21px;
    min-height: 88px;
  }

  .site-list__item:nth-child(1) {
    width: 185px;
  }

  .site-list__item:nth-child(2) {
    width: 200px;
    border-left: 1px solid #ececec;
    padding-left: 33px;
    margin-right: auto;
  }

  .site-list__item a {
    padding-top: 10px;
    font-size: 17px;
  }
}
