.social-list {
  .default-list;
  width: 207px;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 17px;
  padding-left: 31px;
  padding-right: 35px;
  margin-left: auto;
  margin-right: auto;
}

.social-list__item {
  width: 23px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
}

.social-list__item:hover svg,
.social-list__item:focus svg {
  fill: #46c1ae;
}

.social-list__item:active svg {
  fill: #46c1ae;
  opacity: 0.3;
}

.social-list__link {
  outline: none;
}

.social-list__link svg {
  transition: all 0.3s;
}

@media (min-width: @tablet-width) {
  .social-list {
    width: 141px;
    border: none;
    padding: 0;
    margin: 0;
    min-height: auto;
  }
}
