.social-list {
  .default-list;
  width: 141px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.social-list__item {
  width: 23px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
}

.social-list__link {
  outline: none;
}

.social-list__item:hover path {
  fill: #46c1ae;
}

.social-list__link:focus path {
  fill: #46c1ae;
}

.social-list__item:active path {
  fill: #46c1ae;
  opacity: 0.3;
}

.social-list__link path {
  transition: all 0.3s;
}
